﻿@model object


<div class="form-group row">
    @Html.LabelFor(m => m, new { @class = "col-sm-4 col-md-2 col-form-label" })
    <div class="col-sm-8 col-md-4">
        @{
            object attrs = null;
            if (ViewBag.ReadonlyInput == true)
            {
                attrs = new { @class = "form-control-plaintext", placeholder = Html.DisplayNameFor(m => m).ToString(), @readonly = "" };
            }
            else
            {
                attrs = new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m).ToString() };
            }
        }

        @if (ViewBag.IsPasswordInput == true)
        {
            @Html.PasswordFor(m => m, attrs)
        }
        else
        {
            @Html.TextBoxFor(m => m, attrs)
        }

        @Html.ValidationMessage("", new { @class="text-danger" }, "div")
    </div>
</div>