﻿@model object

<div class="@(ViewBag.GridClass) mb-3">
    @Html.LabelFor(m => m)
    @if (ViewBag.ExcludeValidation == null  || ViewBag.ExcludeValidation == false)
    {
        <span class="text-danger">*</span>
    }
        @Html.TextBoxFor(m => m, (string)ViewBag.Format, new { @class = "form-control", type=ViewBag.InputType ?? "text", placeholder = Html.DisplayNameFor(m => m) })
        @if (ViewBag.ExcludeValidation == null || ViewBag.ExcludeValidation == false)
        {
            @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" }, "div")
        }
    </div>
