﻿body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
.modal input {
    max-width: 280px;
}

.alert-fixed-top{
    z-index: 2000;
    position:fixed;
    width: 100%;
}

.alert-fixed-top.top-position-0px{
top: 0px;
}

    .alert-fixed-top.top-position-60px {
        top:60px;
    }
.feature-box{
    background-color: rgb(216, 216, 216);
}
.fixed-image-height{
    height: 100px;
}
.fitted-image{
    max-height:100%;
    max-width:100%;
    
}

.product-to-buy{
    height: 50px;
}