﻿<li class="fitted-image">
    <img src="@Url.Action("GetImage",new { id=ViewBag.ImageId })" alt="@ViewBag.ImageId" class="img-thumbnail fixed-image-height">
    @if (ViewBag.IncludeHiddenInput != null)
    {
        @Html.Hidden("ImageIds[]", (string)ViewBag.ImageId)
    }
</li>
