﻿@using Store.Models.StoreViewModels
@model AddProductViewModel

@{
    ViewBag.Title = "Dodaj produkt";
}

<div class="row">
    <div class="offset-3 col-sm-6">
        @using (Html.BeginForm("AddProduct", "Store", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group row">
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" lang="pl" accept="image/*" id="uploadImage">
                        <label class="custom-file-label" for="uploadImage">Choose file</label>
                    </div>
                </div>
            </div>

            <ul id="images">
                @if (Model != null)
                {
                    foreach (var imageId in Model.ImageIds)
                    {
                        @Html.Partial("_ImageItemPartial", new ViewDataDictionary { { "imageId", imageId },{ "includeHiddenInput", true } })
                    }
                }
            </ul>

            <div class="form-group row">
                @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(m => m.Price, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Price, new { type = "number", @class = "form-control", aria_label = "Amount (to the nearest PLN)" })
                        <div class="input-group-append">
                            <span class="input-group-text">0.00</span>
                            <span class="input-group-text">zł.</span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(m => m.Count, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Count, new { type = "number", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Count, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(m => m.CategoriesHierarchy, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.CategoriesHierarchy[0], new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.CategoriesHierarchy[1], new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.CategoriesHierarchy[2], new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(m => m.Description, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "3" })
                    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <button type="submit" class="btn btn-outline-primary btn-lg">Przejdź do podsumowania</button>
        }
    </div>
</div>

@section scripts{


    <script src="~/Scripts/add-product-script.js"></script>
}