﻿@model Store.Models.StoreViewModels.ChildrenOfCategoryViewModel
@using MvcSiteMapProvider.Web.Html
@{
    ViewBag.Title = $"Podkategorie z kategorii {ViewBag.Category}";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    @foreach (var categoryGroup in Model.CategoryGroups)
    {
        <div class="col-xl-3 col-md-4 col-sm-6 col-xs-12 mb-3">
            <div class="card">
                <img class="card-img-top" src="~/Images/card-image.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                    <a href="@Url.Action("Index","Store", new { category=categoryGroup.UpperCategory })" >
                        @categoryGroup.UpperCategory
                        </a>
                    </h5>
                </div>
                <div class="list-group list-group-flush">
                    @foreach (var subcategory in categoryGroup.LowerCategories)
                    {
                        <a href="@Url.Action("Index", "Store", new { category=subcategory })" class="list-group-item list-group-item-action">@subcategory</a>
                    }
                </div>
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">4,000 produktów</small></p>
                </div>
            </div>
        </div>
    }
</div>

