﻿@model IEnumerable<string>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @foreach (var category in Model)
        {
            if (Model.Last() == category)
            {
                <li class="breadcrumb-item active" aria-current="page">@category</li>
            }
            else
            {
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Store", new { category })">@category</a></li>
            }
        }


    </ol>
</nav>
