﻿@model IEnumerable<Store.Models.StoreViewModels.ProductItemViewModel>
@using Store.Utils

<div>
    @Html.Action("GetCategoriesHierarchy", new { category = ViewBag.Category })
</div>
<div class="row">
    @if (Model.Count() != 0)
    {
        foreach (var productItem in Model)
        {
            <div class="col-md-3 col-sm-6 col-xs-12 mb-3">
                <div class="card">
                    <img class="card-img-top" src="~/Images/card-image.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="@Url.Action("ViewProduct", "Store", new { id = productItem.Id })" class="card-link">@productItem.Name</a>
                        </h5>

                        <strong>@HtmlUtils.FormatNumberIntoPrice(productItem.Price)</strong>
                        <p class="card-text"><small class="text-muted">Ilość: @productItem.Count produktów</small></p>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h2>Nie znaleziono produktów według podanych kryteriów</h2>
    }
</div>
