﻿@using Store.Models.StoreViewModels
@using Store.Utils
@model ProductSummaryViewModel
@{
    ViewBag.Title = "Podsumowanie";
}

<h1>Podsumowanie</h1>

@using (Html.BeginForm("AddProductForSale", "Store", FormMethod.Post))
{
    <div class="row">
        <div class="col-12">
            <ul>
                @if (Model != null)
                {
                    foreach (var imageId in Model.ImageIds)
                    {
                        @Html.Partial("_ImageItemPartial", new ViewDataDictionary { { "imageId", imageId } })
                    }
                }
            </ul>
        </div>
        <div class="offset-1 col-5">
            <h4>Podstawowe dane</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@Html.DisplayNameFor(m => m.Name): @Model.Name</li>
                <li class="list-group-item">@Html.DisplayNameFor(m => m.Price): @HtmlUtils.FormatNumberIntoPrice(Model.Price)</li>
                <li class="list-group-item">@Html.DisplayNameFor(m => m.Count): @Model.Count</li>
            </ul>
        </div>
        <div class="col-5">
            <h4>@Html.DisplayNameFor(m => m.CategoriesHierarchy)</h4>
            <ul class="list-group list-group-flush">
                @foreach (var category in Model.CategoriesHierarchy)
                {
                    <li class="list-group-item">@category</li>
                }

            </ul>
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-8">
            <h4>@Html.DisplayNameFor(m => m.Description)</h4>
            <p>
                @Model.Description
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">

            @Html.AntiForgeryToken()

            @Html.EditorForModel()
            

            @for (int i = 0; i < Model.ImageIds.Length; i++)
            {
                 @Html.HiddenFor(m => m.ImageIds[i])
            }

            @for (int i = 0; i < Model.CategoriesHierarchy.Length; i++)
            {
                @Html.HiddenFor(m => m.CategoriesHierarchy[i])
            }

            <button type="submit" class="btn btn-outline-primary btn-lg">Dodaj produkt</button>

        </div>
    </div>
}


