﻿@using Store.Models.StoreViewModels
@using Store.Utils
@model PurchaseSummaryViewModel
@{
    ViewBag.Title = "Podsumowanie kupna";
}

<h2>Podsumowanie kupna</h2>

<div class="row">
    <div class="col-10 offset-1">
        <ul>
            @foreach (var product in (IEnumerable<PurchaseItemViewModel>)ViewBag.SelectedProducts)
            {
            <li>
                <div class="product-to-buy"><img class="fitted-image" alt="@product.Name" src="@Url.Action("GetImage", new { id=product.ImageId })" /></div>
                @Html.ActionLink(product.Name, "ViewProduct", new { id = product.Id }) <br />
                Ilość sztuk: @product.SelectedCount, cena za sztukę: @HtmlUtils.FormatNumberIntoPrice(product.Price) <br />
                Razem: @HtmlUtils.FormatNumberIntoPrice(product.TotalPrice)
                
            </li>
            }
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-10 offset-1">
        <h3>Razem do zapłaty: @HtmlUtils.FormatNumberIntoPrice(ViewBag.TotalPrice)</h3>
    </div>
</div>

<div class="row">
    <div class="col-10 offset-1">
        @using (Html.BeginForm("SaveProducts", "Store", FormMethod.Post))
        {
            for (int i = 0; i < Model.Products.Count(); i++)
            {
                @Html.HiddenFor(m => m.Products[i].ProductId);
                @Html.HiddenFor(m => m.Products[i].SelectedCount)
            }

            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.ShippingMethod)
                    @Html.DropDownListFor(m => m.ShippingMethod, DropDownLists.GetShippingMethods(), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Message)
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                </div>
            </div>

            <button type="submit" class="btn btn-outline-primary btn-lg">Przejdź do płatności</button>
        }
    </div>
</div>

