﻿@using Store.Models.StoreViewModels
@using Store.Utils
@model ShoppingCartViewModel
@{
    /**/

    ViewBag.Title = "Koszyk";
}

<h2>Koszyk</h2>

<ul id="shoppingCart">
    @if (Model != null && Model.Products.Count() > 0)
    {
        foreach (var product in Model.Products)
        {
            <li id="@product.Id">
                <div class="fixed-image-height">
                    <img class="fitted-image" src="@Url.Action("GetImage", new { id = product.ImageId })" />
                </div>
                <h3>@Html.ActionLink(product.Name, "ViewProduct", "Store", new { id = product.Id })</h3>
                Dostępna ilość: @product.AvailableCount <br />
                Ilość wybranych produktów: <input type="hidden" value="@product.Id" />
                <input type="number" class="count-input" value="@product.SelectedCount" min="1" max="@product.AvailableCount" /> <br />
                Cena za produkt: @HtmlUtils.FormatNumberIntoPrice(product.Price)<br />
                Razem: <span class="total-price">@HtmlUtils.FormatNumberIntoPrice(product.TotalPrice)</span>
                <ul>
                    @foreach (var category in product.CategoriesHierarchy)
                    {
                        <li>@category</li>
                    }
                </ul>

                <a class="remove-cart-item" href="#"><i class="fa fa-trash" style="font-size:large;"></i></a>
            </li>
        }
    }
</ul>

@if (Model == null || Model.Products.Count() == 0)
{
    <h3>Koszyk jest pusty</h3>
}

@if (Model != null)
{
    <div id="shoppingCartFooter">
        <a class="btn btn-primary" href="@Url.Action("PurchaseSummary")" role="button">Kup wybrane produkty</a>

        <p>Razem za wszystkie produkty: <span id="totalPrice">@HtmlUtils.FormatNumberIntoPrice(Model.TotalPrice)</span></p>
    </div>
}

@section scripts{

    <script src="~/Scripts/shopping-cart-script.js"></script>
}
