﻿@using Store.Models.StoreViewModels
@using Store.Utils
@model ViewProductViewModel

@{ 
    ViewBag.Title = Model.Name;
}

@Html.Partial("GetCategoriesHierarchy", Model.CategoriesHierarchy)

<div class="feature-box mb-2">
    <div class="row">
        <div class="col-md-6 fixed-image-height">
            @Html.Partial("_ImageItemPartial", new ViewDataDictionary { { "imageId", Model.ImageIds.ElementAt(0) } })
            <br />
            @foreach (var imageId in Model.ImageIds)
            {
                @Html.Partial("_ImageItemPartial", new ViewDataDictionary { { "imageId", imageId } })
            }

        </div>
        <div class="col-md-6">
            <h3>@Model.Name</h3>
            <strong>@HtmlUtils.FormatNumberIntoPrice(Model.Price)</strong>

            <hr />

            Liczba sztuk: @Model.Count

            @using (Html.BeginForm("ProceedToPurchase", "Store", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="input-group mb-3 w-25" id="countInput">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button"><i class="fa fa-angle-left"></i></button>
                    </div>
                    <input type="number" name="count" class="form-control" value="1" min="1" max="@Model.Count" aria-label="ProductsCount">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i class="fa fa-angle-right"></i></button>
                    </div>
                </div>
                @Html.Hidden("productId", Model.Id)
                <input type="submit" name="option" value="Dodaj do koszyka" class="btn btn-primary btn-lg">
                <input type="submit" name="option" value="Kup teraz" class="btn btn-primary btn-lg">
            }
        </div>
    </div>
</div>

<div class="feature-box">
    @Html.Raw(Model.Description)
</div>

@section scripts{
    <script src="~/Scripts/view-product-script.js"></script>
}


