﻿@model IEnumerable<string>

<ul class="nav nav-tabs bg-light">
    @foreach (var category in Model)
    {
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Categories","Store", new { category })">@category</a>
        </li>
    }

</ul>
