﻿@using Store.Models.AccountViewModels
@using Store.Utils
@model MyPasswordViewModel

<h5 class="card-title">Moje hasło</h5>
@using (Html.BeginForm("UpdatePassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken();

    @Html.EditorFor(m => m.Password, "_InlineTextInputTemplate", new { isPasswordInput = true })

    @Html.EditorFor(m => m.NewPassword, "_InlineTextInputTemplate", new { isPasswordInput = true })

    @Html.EditorFor(m => m.ConfirmPassword, "_InlineTextInputTemplate", new { isPasswordInput = true })

    <button type="submit" class="btn btn-primary">Zaktualizuj dane</button>
}
