﻿@using Store.Models.AccountViewModels
@using Store.Utils
@model MyAccountViewModel

<h5 class="card-title">Moje dane osobowe</h5>
@using (Html.BeginForm("UpdateMyAccount", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-row">
        @Html.EditorFor(m => m.FirstName, "_MyAccountTextTemplate", new { gridClass = "col-md-4" })

        @Html.EditorFor(m => m.LastName, "_MyAccountTextTemplate", new { gridClass = "col-md-4" })

        @Html.EditorFor(m => m.Company, "_MyAccountTextTemplate", new { gridClass = "col-md-4", excludeValidation = true })
    </div>

    <div class="form-row">
        @Html.EditorFor(m => m.Street, "_MyAccountTextTemplate", new { gridClass = "col-md-6" })

        @Html.EditorFor(m => m.AptNumber, "_MyAccountTextTemplate", new { gridClass = "col-md-3" })

        @Html.EditorFor(m => m.FlatNumber, "_MyAccountTextTemplate", new { gridClass = "col-md-3", excludeValidation = true })

    </div>

    <div class="form-row">
        @Html.EditorFor(m => m.PostalCode, "_MyAccountTextTemplate", new { gridClass = "col-md-2" })

        @Html.EditorFor(m => m.City, "_MyAccountTextTemplate", new { gridClass = "col-md-5" })


        <div class="col-md-5 mb-3">
            @Html.LabelFor(m => m.Voivodeship) <span class="text-danger">*</span>
            @Html.DropDownListFor(m => m.Voivodeship, DropDownLists.Voivodeships(), new { @class = "form-control" })

            @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" }, "div")
        </div>


    </div>

    <div class="form-row">
        @Html.EditorFor(m => m.PhoneNumber, "_MyAccountTextTemplate", new { gridClass = "col-md-4", inputType = "tel" })

        @Html.EditorFor(m => m.BirthDate, "_MyAccountTextTemplate", new { gridClass = "col-md-4", inputType = "date", format= "{0:yyyy-MM-dd}" })
    </div>

    <button type="submit" class="btn btn-primary">Zaktualizuj dane</button>
}
