﻿@using Store.Models.AccountViewModels
@using Store.Utils
@model MyBasicDataViewModel

<h5 class="card-title">Moje podstawowe dane</h5>
@using (Html.BeginForm("UpdateMyBasicData", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken();

        @Html.EditorFor(m =>m.Username, "_InlineTextInputTemplate", new { readonlyInput = true })

        @Html.EditorFor(m => m.Email, "_InlineTextInputTemplate")

    <button type="submit" class="btn btn-primary">Zaktualizuj dane</button>
}
