﻿@using Store.Models.AccountViewModels
@using Store.Resources
@using Store.Utils
@using Store.Controllers
@using MvcSiteMapProvider.Web.Html

@{
    ViewBag.Title = "Moje konto";
}

<div class="row">

    <div class="col-sm-12">
        <div class="wrapper">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Moje konto</h3>
                </div>

                <ul class="list-unstyled components">

                    <li class="active">

                        <a href="#settingsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle "><i class="fa fa-cogs"></i> Ustawienia</a>
                        <ul class="collapse list-unstyled" id="settingsSubmenu">
                            <li class="active">
                                <a href="@Url.Action("MyAccount", new { card=MyAccountCard.MyAccount })"><i class="fa fa-address-card"></i> Moje konto</a>
                            </li>
                            <li>
                                <a href="#">Personalizacja</a>
                            </li>
                            <li>
                                <a href="#">Powiadomienia</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">About</a>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="#">Page 1</a>
                            </li>
                            <li>
                                <a href="#">Page 2</a>
                            </li>
                            <li>
                                <a href="#">Page 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>

            </nav>
            <div id="content">
                
                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                <div class="card">
                    <div class="card-header">
                        <ul id="myAccountMenu" class="nav nav-tabs card-header-tabs">
                            <li class="nav-item" data-url="@Url.Action("GetMyAccountData")">
                                <a class="@(ViewBag.CurrentCard == MyAccountCard.MyAccount?"nav-link active":"nav-link")" href="#">Moje dane osobowe</a>
                            </li>
                            <li class="nav-item" data-url="@Url.Action("GetMyBasicData")">
                                <a class="@(ViewBag.CurrentCard == MyAccountCard.MyBasicData?"nav-link active":"nav-link")" href="#">Moje podstawowe dane</a>
                            </li>
                            <li class="nav-item" data-url="@Url.Action("GetMyPassword")">
                                <a class="@(ViewBag.CurrentCard == MyAccountCard.MyPassword?"nav-link active":"nav-link")" href="#">Hasło</a>
                            </li>
                        </ul>
                    </div>
                    <div id="myAccountBody" class="card-body">
                        @Html.Action((string)ViewBag.ChildAction)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script id="myAccountScript" src="~/Scripts/my-account-script.js" error-message="@ViewBag.ErrorMessage" success-message="@ViewBag.SuccessMessage"></script>
}