﻿@using Store.Models.AccountViewModels

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sklep wielobranżowy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Html.Partial("_ServerResourcesPartial")
    <link rel="icon" href="~/Images/Store.jpg" />
    <link rel="shortcut icon" href="~/Images/Store.jpg" />
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            <img src="~/Images/Store.jpg" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    @using (Html.BeginForm("Index", "Store", null, FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" }))
                    {
                        <input class="form-control mr-sm-2" name="query" type="search" placeholder="szukaj produktów" aria-label="Search">
                        if (ViewBag.TopCategories != null)
                        {
                            @Html.Partial("_DropDownListForCategoryPartial", (IEnumerable<string>)ViewBag.TopCategories)
                        }
                        else
                        {
                            @Html.Action("CreateDropDownListForCategory", "Home")
                        }
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
                    }
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <ul id="loginPanel" class="navbar-nav my-lg-auto">
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </nav>


    <div class="container-fluid body-content">
        
        @RenderBody()
        @if (!Request.IsAuthenticated)
        {
            @Html.Partial("_LoginModalPartial", new LoginViewModel())
            @Html.Partial("_RegisterModalPartial", new RegisterViewModel())
        }
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sklep wielobranżowy</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        @{
            var openModal = (ViewBag.OpenLoginDialog == null ? false : (bool)@ViewBag.OpenLoginDialog).ToString().ToLower();
        }
        var openModal = @(openModal);

        if (openModal)
            $("#loginModal").modal("show");
    </script>
    <template id="errorAlertTemplate">
        <div id="errorAlert" class="alert alert-danger alert-dismissible fade alert-fixed-top top-position-0px" role="alert">
            <span></span>
            <button type="button" data-dismiss="alert" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </template>
    <template id="successAlertTemplate">
        <div id="successAlert" class="alert alert-success alert-dismissible fade alert-fixed-top top-position-60px" role="alert">
            <span></span>
            <button type="button" data-dismiss="alert" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </template>
    <script src="~/Scripts/common-script.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
