﻿@using Store.Models.AccountViewModels
@model LoginViewModel

<section class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Zaloguj się</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Ajax.BeginForm("Login", "Account", new { returnUrl = Request.RawUrl },
                new AjaxOptions { HttpMethod="POST", InsertionMode=InsertionMode.Replace,
                    UpdateTargetId = "loginPanel", LoadingElementId="loader", LoadingElementDuration=2000, OnSuccess= "onLoginSuccess",
                    OnFailure="showErrorAlert"}))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.LoginUsername)
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend">@@</span>
                            </div>
                            @Html.TextBoxFor(m => m.LoginUsername, new { @class = "form-control", placeholder = "Nazwa użytkownika", aria_describedby = "inputGroupPrepend" })
                        </div>
                        @Html.ValidationMessageFor(m => m.LoginUsername, "", new { @class = "text-danger" }, "div")
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LoginPassword)
                        @Html.PasswordFor(m => m.LoginPassword, new { @class = "form-control", placeholder = "Hasło" })
                        @Html.ValidationMessageFor(m => m.LoginPassword, "", new { @class = "text-danger" }, "div")
                    </div>
                    
                        <div class="custom-control custom-checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input" })
                            @Html.LabelFor(m => m.RememberMe, new { @class = "custom-control-label" })
                        </div>
                </div>
                <div class="modal-footer">
                    <img src="~/Images/circle-loading-gif.gif" id="loader" height="15" width="15" style="display:none;"/>
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal"><span aria-hidden="true">&times;</span> Zamknij okno</button>
                    <button type="submit" class="btn btn-primary">Zaloguj się</button>
                </div>
            }
        </div>
    </div>
</section>
