﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Witaj, @User.Identity.GetUserName()
            @Html.Action("GetCountOfProductsInCart", "Store", new { userId=User.Identity.GetUserId() })
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="@Url.Action("MyAccount", "Account")"><i class="fa fa-address-card"></i> Moje konto</a>
            
            <a class="dropdown-item" href="@Url.Action("ShoppingCart", "Store")">
                <i class="fa fa-shopping-cart"></i> Koszyk
                @Html.Action("GetCountOfProductsInCart", "Store", new { userId = User.Identity.GetUserId() })
            </a>
            
            @if (User.IsInRole("Seller"))
            {
                <a class="dropdown-item" href="@Url.Action("AddProduct", "Store")"><i class="fa fa-archive"></i> Dodaj produkt do sprzedaży</a>
            }
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:$('#logoutForm').submit()"><i class="fa fa-sign-out"></i> Wyloguj się</a>
            <form class="" method="post" action="@Url.Action("Logout","Account")" id="logoutForm">
                @Html.AntiForgeryToken()
            </form>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#loginModal" href="#">Zaloguj się</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#registerModal" href="#">Zarejestruj się</a>
    </li>
}