﻿@using Store.Models.AccountViewModels
@model RegisterViewModel

<section class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Rejestracja</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
            {
            <div class="modal-body">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.Username)
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">@@</span>
                        </div>
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Nazwa użytkownika", aria_describedby = "inputGroupPrepend" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" }, "div")
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", aria_describedby = "emailHelp", placeholder = "jan.kowalski@contoso.com" })
                    <small id="emailHelp" class="form-text text-muted">Nigdzie nie udostępnimy Twojego adresu email, nie bój żaby :)</small>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" }, "div")
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", aria_describedby = "passwordHelp", placeholder = "Hasło" })
                    <small id="passwordHelp" class="form-text text-muted">Hasło musi zawierać conajmniej jedną małą i dużą literę, conajmniej jedną cyfrę i jeden znak specjalny.</small>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" }, "div")
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Powtórz hasło" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" }, "div")
                </div>

                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(m => m.RulesToAccept, new { @class = "custom-control-input" })
                    <label class="custom-control-label" for="RulesToAccept">Oświadczam, że znam i akceptuję regulamin <a>Sklepu wielobranżowego</a></label>
                </div>
                <div class="custom-control custom-checkbox">
                    @Html.CheckBoxFor(m => m.OtherRulesToAccept, new { @class = "custom-control-input" })
                    <label class="custom-control-label" for="OtherRulesToAccept">Oświadczam, że znam i akceptuję inny regulamin <a>Sklepu wielobranżowego</a></label>
                </div>
                @Html.ValidationMessageFor(m => m.RulesToAccept, "", new { @class = "text-danger" }, "div")
            </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal"><span aria-hidden="true">&times;</span> Zamknij okno</button>
                    <button type="submit" class="btn btn-primary">Zarejestruj się</button>
                </div>
            }
        </div>
    </div>
</section>

