﻿

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @foreach (var breadcrumb in (Dictionary<string, string>)ViewBag.Breadcrumbs)
        {
            if (breadcrumb.Value == "")
            {
                <li class="breadcrumb-item active" aria-current="page">@breadcrumb.Key</li>
            }
            else
            {
                <li class="breadcrumb-item"><a href="@breadcrumb.Value">@breadcrumb.Key</a></li>
            }

        }


    </ol>
</nav>
