﻿@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @foreach (var node in Model)
        {
            if (node != Model.Last())
            {
                <li class="breadcrumb-item"><a href="@node.Url">@node.Title</a></li>
            }
            else
            {
                <li class="breadcrumb-item active" aria-current="page">@node.Title</li>
            }
        }
    </ol>
</nav>